@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@330&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@font-face {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 330;
    font-style: normal;
}

@font-face {
    font-family: "Noto Sans KR 500", sans-serif;
    font-weight: 500;
    font-style: normal;
}

@tailwind base;
@layer base {
    body {
        @apply px-16
    }
}

@tailwind components;
@layer components {
    .text-divider {
        @apply w-[350px] border-t border-gray-200 my-4
    }

    .overlay {
        @apply fixed top-0 left-0 -translate-x-[16%] -translate-y-[16%] w-screen h-screen z-[97]
    }
}

@tailwind utilities;